<form method="get" action="/quizes/answer">
    Pregunta: <%= pregunta %> de tema <%= tema %><br/>
    <input type="text" name="respuesta" value="Responda aquí"/>
    <input type="submit" value="Enviar">
</form>