<form method="get" action="/quizes/<%= quiz.id %>/answer">
    Pregunta: <%= quiz.pregunta %> (tema: <%= quiz.tema %>)<br/>
    <input type="text" name="respuesta" value="Respuesta"/>
    <input type="submit" value="Enviar"/>
</form>